@import url('https://fonts.googleapis.com/css?family=Muli&dsiplay=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #32E476;
    /* background-color: lightpink;
    color: #0f0606;
    display: flex; */
    font-family: 'Muli', sans-serif;
    /* flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    min-height: 100vh; */

}

.header {
    width: 100%;
    background-color: #32E476;
}

.main-title h1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-content img {
    width: 100%;

}

.page-body {
    background-color: #D9D9D9;   
}

.intro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* margin: 10px 0; */
}

 i {
    font-size: 50px;
}

.search-container {
    display: flex;
    /* max-width:200px; */
    /* margin-top: 0 auto; */
    /* border: 1px solid; */
}

/* #searchquery {
    border-radius: 5%;
    width: 100%;
} */

.icons {
    display: flex;
}

.heart {
    color: red;
}

.shopping-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.shopping {
    max-width: 800px;  
    color: yellow;  
}

.card {
    display: flex;
    justify-content: center;

    margin: 10px;
}

.card img {
    max-width:600px;
    max-height: 350px;
    height: auto;
    width: auto;
    margin: 0 20px;
    border-radius: 10%;
}

.outro {
    background-color:#D9D9D9 ;
    padding: 5px;
}

.outro-title {
    margin: 5px;  
}
.viewed { 
    display: flex;
}

.viewed img {
    width: 100%;
    max-height: 280px;
    margin: 10px;
    border-radius: 10%;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.about-section {
    width: 50%;
    padding-right: 10px;
}

.contact-section {
    width: 50%;
    margin-left: 10px;
}

.end {
    display: flex;
    justify-content: center;
    align-items: center;
}